body {
	background-color: #f9f9f9;
}

.container-content {
	padding: 20px !important;
    margin: 0px !important;
}

.title_page {
	color: #801338;
	margin-bottom: 30px;
}

/* SECTION STYLING */
.section-title {
	background-color: maroon;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	width: 55%;
	font-size: 20px;
	padding-left: 18px;
	margin: 0;
	flex-grow: 1;
}

.table {
	font-size: 12px;
	text-align: center;
}

.table-header {
	background-color: #dadada;
	text-transform: uppercase;
}

/* SIDEBAR STYLING */
.sidebar {
	background-color: #ffffff;
	color: #801338;
	height: 100vh;
	padding: 30px !important;
}

.logo {
	margin-top: 30%;
}

.logo img {
	width: 90%;
}

.sidebar .nav-link {
	color: #801338;
	margin-bottom: 1rem;
}

.sidebar .nav-link.active {
	color: #ffffff;
	background-color: #801338;
	border-radius: 5px;
}

a img {
	padding-right: 15px;
}

/* ACCOUNT CONTAINER */
.account-container {
	margin-top: 80% !important;
	margin-left: 0 !important;
}

/* SEARCH & FILTER STYLING */
.search-container {
	margin: 25px 0 20px 0 !important;
}

.search-box input {
	background-color: white;
	border: none;
	font-size: 16px;
	padding-left: 30px;
	width: 100%;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.search-box input::placeholder {
	color: #801338;
}

.search-box .form-control {
	background-image: url('svg/Icon_Search.svg');
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 50px;
	background-size: 20px 20px;
	border-radius: 30px;
}

/* Filter */
.dropdown {
	margin-left: 12px;
}

/* Filter Button*/
.btn-secondary {
	color: #801338 !important;
	background-color: white !important;
	border: none !important;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-radius: 30px;
	width: 90%;
}

/* BUTTON STYLING */
.btn-custom {
	margin-left: 5px;
	color: white;
	border-radius: 10px;
	width: 158px;
	text-transform: uppercase;
	font-size: 15px;
	height: 25px;
	padding: 0 !important;
}
.btn-add {
	background-color: #2927ae;
}
.btn-update {
	background-color: #0f5fc2;
}
.btn-delete {
	background-color: #cc245d;
}
.btn-func {
	padding-left: 50px;
	padding-bottom: 25px;
}

.btn-custom:hover {
	background-color: #424242;
	color: white;
}
