/* SIDEBAR STYLING */
.sidebar {
	background-color: #ffffff;
	color: #801338;
	height: 100vh;
	padding: 30px !important;
}

.logo {
	margin-top: 30%;
    margin-bottom: 40px;
}

.logo img {
	width: 90%;
}

.sidebar .nav-link {
	color: #801338;
	margin-bottom: 1rem;
}

.sidebar .nav-link:hover {
	color: #ffffff;
	background-color: #801338;
	border-radius: 5px;
}

a img {
	padding-right: 15px;
}

/* ACCOUNT CONTAINER */
.account-container {
	margin-top: 80% !important;
	margin-left: 0 !important;
}
